<div class="row">
  <h2><%= t("member.index.heading") %></h2>

  <table class="table">
    <tr>
      <th> Name </th>
      <th> Email </th>
      <th> Balance </th>
      <th></th>
    </tr>

    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= number_to_currency(member.account.balance) %></td>
        <td><%= link_to t("member.index.edit"), edit_member_path(member)%></td>
      </tr>
    <% end %>
  </table>

  <br>
  <%= link_to t("member.index.new"), members_create_path, class: "btn btn-lg btn-default" %>
  <%= link_to t("member.index.create_transaction"), transactions_create_path, class: "btn btn-lg btn-default" %>
</div>
